.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-image: url('../../../../assets/home.jpg');
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 131px);
}

.container > *{
  min-width: 25rem;
  max-width: 40rem;
}

img{
  border-radius: 2rem;
  flex: 1 0;
  object-fit: cover;
  height: 35rem;
  margin: 1rem;
  z-index: 2;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0, 0.4) !important;
}

.details{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex:1 0;
  padding: 4.9rem 3rem 4.9rem 9rem;
  color: var(--yellow);
  background: var(--black);
  margin-left: -7rem;
  border-radius: 2rem;
  z-index: 1;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0, 0.4) !important;
}

.header{
  display: flex;
  justify-content: space-between;
}

.name{
  font-size: 2rem;
  font-weight: bold;
}

.favorite{
  color: var(--orange);
  font-size: 2.5rem;
}

.favorite.not{
  color: grey;
}

.origins{
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}

.origins span{
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 2rem;
  background-color: var(--black);
  color: var(--orange);
}

.tags{
  display: flex;
  flex-wrap: wrap;
}

.tags a{
  background-color: var(--yellow);
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  border-radius: 10rem;
  font-weight: 600;
  color: var(--black);
}

.cook-time{
  margin-top: 1rem;
}

.cook-time span{
  padding: 0.6rem 2rem 0.6rem 0;
  border-radius: 10rem;
  font-size: 1.3rem;
}

.price{
  font-size: 1.8rem;
  margin: 2rem 2rem 2rem 0;
  color: white;
}

.price::before{
  content: "Price: ";
  color: darkgrey;
}

button{
  color: var(--black);
  background: var(--yellow);
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  outline: none;
  box-shadow: 0 3px 10px 0px rgba(0,0,0,0.4);
  opacity: 0.8;
}

button:hover{
  opacity: 1;
  cursor: pointer;
  color: var(--black);
  background: var(--yellow);
  transition-duration: 0.2s;
}
