@font-face {
  font-family: "Cinderela";
  src: url('../../../../assets/Cinderela.ttf');
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  background: var(--black);
  padding: 0;
  border-bottom: 1px solid var(--orange);
  z-index: 1000;
  box-shadow: 0 5px 15px 0 rgba(0,0,0, 0.4) !important;
}

a{
  color: var(--yellow);
  font-size: 1.2rem;
}

a:hover{
  background:var(--yellow);
  color: var(--black);
  cursor: pointer;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo{
  padding: 1rem 3.5rem;
  font-family: "Cinderela";
  font-size: 1.4rem !important;
}

ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-right: 3rem;
}

ul a{
  padding: 1.5rem 1rem;
  display: inline-block;
}

a span{
  background: var(--yellow);
  color: var(--black);
  border: 2px solid var(--black);
  padding: 0.1rem 0.5rem;
  border-radius: 100rem;
  font-size:0.9rem;
  margin-left: 0.4rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:var(--black);
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
