.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87.8%;
  background-image: url('../../../../assets/register.jpg');
  background-size: cover;
  background-position: center;
}

.details{
  width: 35rem;
  padding: 1rem 2rem 2rem 0;
  background: var(--black);
  border-radius: 20px;
  box-shadow: 0px 0px 25px 15px rgba(0,0,0, 0.4) !important;
}

.details form {
  padding-left: 2rem;
  margin-top: 1rem;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login span {
  color: white;
}
.login a {
  color: var(--yellow);
  opacity: 0.8;
}
.login a:hover {
  opacity: 1;
  cursor: pointer;
}
